body{
    margin: 0px ;
    }
    .Achieve-container{
        margin:0rem 5rem;
    background-color: #eee;
    /* transform: translateY(9rem); */
    border-radius: 3rem;
    box-shadow: 0px 2px 15px rgb(0 0 0 /20%);
    padding: 3rem 2rem;
    }
    .One-achieve{
        margin: 2rem 7rem;
        background-color: white;
        padding: 2rem 4rem;
        border-radius: 5rem;
    box-shadow: 0px 2px 15px rgb(0 0 0 /20%);

    }
    .Achieve-course-logo{
        width: 30%;
        text-align: center;
    }
    .No-sign{
        color: #1e2754;
        font-weight: 700;
        text-align: center;
        font-size: 1.2rem;
    }
    .Course-logo{
        height: 8rem;
        width: 8rem;
        border-radius: 50%;
        background-size: cover;
    }
    .Achieve-course-data{
        width: 70%;
    }
    .Achieve-nameNnom{
        margin: 0rem 2rem;
        align-items: center;
        justify-content: space-between;
    }
    .Achieve-nomber{
        font-size: 1.3rem;
        font-weight: 700;
    }
    .Achieve-name{
        font-size: 1.8rem;
        color: #1e2754;
        font-weight: bold;
        font-family: 'Oswald' ,sans-serif;
    }
    .Achieve-percent{
        width: 100%;
        margin-top: 5rem;
    }
    .Achieve-total{
        /* margin: 0rem 3rem; */
        background-color: rgb(118, 116, 116);
        width:100%;
        height: .5rem;
        border-radius: 5rem ;
    }
    .Achieve-done{
        background-color: #ff8600;
        height: .5rem;
        width:70%;
        border-radius: 5rem ;
        transform: translateY(-.5rem);
    }
    @media (max-width:1350px) and (min-width:950px){
        .Navbar-element li{
            margin: 0 2rem;
            width: 7.5rem;
            }
            .Achieve-container{
                margin:0 3rem;
            }
            .One-achieve{
                margin: 2rem 5rem;
            }
        }
        @media (max-width:949px) and (min-width:813px){
            .Navbar-element li{
            margin: 0 2rem;
            width: 6rem;
            font-size: 1rem;
            text-align: center;
            }
            .Achieve-container{
                margin:0 3rem;
            }
            .One-achieve{
                margin: 2rem 2rem;
                padding: 1rem 3rem 1rem 2rem;
            }
            .Achieve-course-logo{
                width: 22%;
            }
            .Achieve-course-data{
                width: 78%;
            }
        }
        @media (max-width:812px) and (min-width:620px){
            .Navbar{
                height: 8rem;
                align-items: normal;
            }
            .Navbar-element li{
                margin: 0 2rem;
                width: 7rem;
                font-size: 1rem;
            }
            .Navbar-element{
                flex-wrap: wrap;
                margin-top: 1rem;
            }
            .Achieve-container{
                margin:0 1.5rem;
                transform: translateY(11rem);
                padding: 3rem 1rem;
            }
            .One-achieve{
                margin: 2rem 0rem;
                padding: 1rem 2rem 1rem 1rem;
            }
            .Achieve-course-logo{
                width: 22%;
            }
            .Achieve-course-data{
                width: 78%;
            }
        }
        @media (max-width:619px) and (min-width:443px){
             .Navbar{
                height: 11rem;
                align-items: normal;
            }
            .Navbar-element li{
                margin: 0 2rem;
                width: 7rem;
                font-size: .9rem;
            }
            .Navbar-element{
                flex-wrap: wrap;
                margin-top: 1rem;
            }
            .Achieve-container{
                margin:0 1.5rem;
                transform: translateY(13rem);
                padding: 3rem 1rem;
            }
            .One-achieve{
                display: block !important;
                margin: 2rem 0rem;
                padding: 1rem 2rem 1rem 1rem;
            }
            .Achieve-course-logo{
                width: 22%;
            }
            .Achieve-course-data{
                width: 78%;
            }
            .Achieve-name{
                transform: translate(7rem,-5rem);
            }
            .Achieve-nomber{
                transform: translate(-.2rem,1rem);
            }
            .Achieve-percent{
                margin-left: 3rem;
            }
            .Course-logo {
                height: 7rem;
                width: 7rem;
                
            }
        }
        @media (max-width:442px){
             .Navbar{
                height: 16rem;
                align-items: normal;
            }
            .Navbar-element li{
                margin: 0 2rem;
                width: 7rem;
                font-size: .9rem;
            }
            .Navbar-element{
                flex-wrap: wrap;
                margin-top: 1rem;
            }
            .Achieve-container{
                margin:0 1rem;
                transform: translateY(19rem);
                padding: 3rem 1rem;
            }
            .One-achieve{
                display: block !important;
                margin: 2rem 0rem;
                padding: 1rem 3rem 2rem 1rem;
            }
            .Achieve-course-logo{
                width: 22%;
            }
            .Achieve-course-data{
                width: 100%;
            }
            .Achieve-name{
                transform: translate(2rem,-5rem);
                font-size: 1.5rem;
            }
            .Achieve-nomber{
                transform: translate(-.6rem,0rem);
            }
            .Achieve-percent{
                margin-left: 1rem;
                width: 100%;
                margin-top: 2rem;
            }
            .Course-logo {
                height: 6rem;
                width: 6rem;
            }
        }